{% include '_partials/_header.html' %}

<section class="split" id="intro">
    <nav class="split__nav"><h2>Composante Tabs</h2></nav>

    <div class="split__content">
        <section class="split__section">
            <p>
                Tu dois réaliser la composante selon les normes établies dans la documention. La structure HTML est
                fournie, tu dois interprêter la documentation afin d'ajouter les classes préfixées, attributs data et
                les lignes de css nécessaires au bon fonctionnement
                <u>complet</u>
                de la composante.
            </p>
            <p>
                Tu
                <u>dois</u>
                utiliser les techniques vues cette session et pas quelque chose trouver en ligne utilisant d'autres
                techniques (pas de getAttributes, hasAttributes, etc.)
            </p>
            <a href="https://demos.dectim.ca/cw4/timtools/tabs.html" target="_blank" class="btn">
                Voir la documentation de Tabs
            </a>
        </section>

        <section class="split__section">
            <!-- La composante Tabs 1 débute ici -->

            <section class="tabs">
                <div class="tabs__header">
                    <button>Histoire</button>
                    <button>Tourisme</button>
                    <button>Économie</button>
                    <button>Services</button>
                </div>
                <div class="tabs__content">
                    <div class="tab__content">
                        <p>
                            La MRC de Baie Ste-Catherine est située sur la rive nord du fleuve Saint-Laurent, dans la
                            région de la Côte-Nord au Québec. La région a une longue histoire de peuplement autochtone,
                            avec des preuves d'occupation humaine remontant à plus de 8 000 ans.
                        </p>
                    </div>
                    <div class="tab__content">
                        <p>
                            La MRC de Baie Ste-Catherine est une destination touristique populaire, connue pour son
                            observation des baleines. Les visiteurs peuvent prendre des excursions en bateau pour voir
                            les baleines de près dans leur habitat naturel. Les visiteurs peuvent également voir des
                            phoques, des dauphins et d'autres animaux marins lors de ces excursions.
                        </p>
                    </div>
                    <div class="tab__content">
                        <p>
                            L'économie de la MRC de Baie Ste-Catherine est principalement basée sur la pêche, le
                            transport maritime et le tourisme. La région est le foyer de plusieurs entreprises de pêche,
                            notamment la pêche au homard et la pêche à la morue.
                        </p>
                    </div>
                    <div class="tab__content">
                        <p>
                            La MRC de Baie Ste-Catherine offre une variété de services aux résidents de la région. Le
                            bureau de la MRC est situé dans la ville de Baie Ste-Catherine et offre des services
                            administratifs aux municipalités membres de la MRC.
                        </p>
                    </div>
                </div>

                <!-- La composante Tabs 1 se termine ici -->
            </section>
        </section>

        <section class="split__section">
            <!-- La composante Tabs 1 débute ici -->

            <section class="tabs">
                <div class="tabs__header">
                    <button>Histoire</button>
                    <button>Tourisme</button>
                    <button>Économie</button>
                    <button>Services</button>
                </div>
                <div class="tabs__content">
                    <div class="tab__content">
                        <p>
                            La MRC de Baie Ste-Catherine est située sur la rive nord du fleuve Saint-Laurent, dans la
                            région de la Côte-Nord au Québec. La région a une longue histoire de peuplement autochtone,
                            avec des preuves d'occupation humaine remontant à plus de 8 000 ans.
                        </p>
                    </div>
                    <div class="tab__content">
                        <p>
                            La MRC de Baie Ste-Catherine est une destination touristique populaire, connue pour son
                            observation des baleines. Les visiteurs peuvent prendre des excursions en bateau pour voir
                            les baleines de près dans leur habitat naturel. Les visiteurs peuvent également voir des
                            phoques, des dauphins et d'autres animaux marins lors de ces excursions.
                        </p>
                    </div>
                    <div class="tab__content">
                        <p>
                            L'économie de la MRC de Baie Ste-Catherine est principalement basée sur la pêche, le
                            transport maritime et le tourisme. La région est le foyer de plusieurs entreprises de pêche,
                            notamment la pêche au homard et la pêche à la morue.
                        </p>
                    </div>
                    <div class="tab__content">
                        <p>
                            La MRC de Baie Ste-Catherine offre une variété de services aux résidents de la région. Le
                            bureau de la MRC est situé dans la ville de Baie Ste-Catherine et offre des services
                            administratifs aux municipalités membres de la MRC.
                        </p>
                    </div>
                </div>

                <!-- La composante Tabs 1 se termine ici -->
            </section>
        </section>
    </div>
</section>

{% include '_partials/_footer.html' %}
